<div>
    <h2 translate="sternenschwimmenApp.participant.home.title">Participants</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="participant.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs"  translate="sternenschwimmenApp.participant.home.createLabel">
                        Create new Participant
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'sternenschwimmenApp.participant.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="firstname"><span translate="sternenschwimmenApp.participant.firstname">Firstname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="lastname"><span translate="sternenschwimmenApp.participant.lastname">Lastname</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sponsor"><span translate="sternenschwimmenApp.participant.sponsor">Sponsor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="payed"><span translate="sternenschwimmenApp.participant.payed">Payed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="printed"><span translate="sternenschwimmenApp.participant.printed">Printed</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="laneCount"><span translate="sternenschwimmenApp.participant.laneCount">Lane Count</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="team"><span translate="sternenschwimmenApp.participant.team">Team</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="participant in vm.participants track by participant.id">
                    <td><a ui-sref="participant-detail({id:participant.id})">{{participant.id}}</a></td>
                    <td>{{participant.firstname}}</td>
                    <td>{{participant.lastname}}</td>
                    <td>{{participant.sponsor}}</td>
                    <td>{{participant.payed}}</td>
                    <td>{{participant.printed}}</td>
                    <td>{{participant.laneCount}}</td>
                    <td>{{participant.team}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="participant-detail({id:participant.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="participant.edit({id:participant.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="participant.delete({id:participant.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
