
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myParticipantLabel" translate="sternenschwimmenApp.participant.home.createOrEditLabel">Create or edit a Participant</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.participant.id">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.participant.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.firstname" for="field_firstname">Firstname</label>
            <input type="text" class="form-control" name="firstname" id="field_firstname"
                    ng-model="vm.participant.firstname"
                    required />
            <div ng-show="editForm.firstname.$invalid">
                <p class="help-block"
                    ng-show="editForm.firstname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.lastname" for="field_lastname">Lastname</label>
            <input type="text" class="form-control" name="lastname" id="field_lastname"
                    ng-model="vm.participant.lastname"
                    required />
            <div ng-show="editForm.lastname.$invalid">
                <p class="help-block"
                    ng-show="editForm.lastname.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.sponsor" for="field_sponsor">Sponsor</label>
            <input type="text" class="form-control" name="sponsor" id="field_sponsor"
                    ng-model="vm.participant.sponsor"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.payed" for="field_payed">Payed</label>
            <input type="checkbox" class="form-control" name="payed" id="field_payed"
                    ng-model="vm.participant.payed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.printed" for="field_printed">Printed</label>
            <input type="checkbox" class="form-control" name="printed" id="field_printed"
                    ng-model="vm.participant.printed"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.laneCount" for="field_laneCount">Lane Count</label>
            <input type="number" class="form-control" name="laneCount" id="field_laneCount"
                    ng-model="vm.participant.laneCount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="sternenschwimmenApp.participant.team" for="field_team">Team</label>
            <input type="text" class="form-control" name="team" id="field_team"
                    ng-model="vm.participant.team"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
