
<div>
    <h2><span translate="sternenschwimmenApp.participant.detail.title">Participant</span> {{vm.participant.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span translate="sternenschwimmenApp.participant.firstname">Firstname</span></dt>
        <dd>
            <span>{{vm.participant.firstname}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.lastname">Lastname</span></dt>
        <dd>
            <span>{{vm.participant.lastname}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.sponsor">Sponsor</span></dt>
        <dd>
            <span>{{vm.participant.sponsor}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.payed">Payed</span></dt>
        <dd>
            <span>{{vm.participant.payed}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.printed">Printed</span></dt>
        <dd>
            <span>{{vm.participant.printed}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.laneCount">Lane Count</span></dt>
        <dd>
            <span>{{vm.participant.laneCount}}</span>
        </dd>
        <dt><span translate="sternenschwimmenApp.participant.team">Team</span></dt>
        <dd>
            <span>{{vm.participant.team}}</span>
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="participant-detail.edit({id: vm.participant.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
    </button>

    <a class="btn btn-default" ng-click="vm.print();" href="/api/participants/{{vm.participant.id}}/certificate" target="_blank" role="button">
        <span class="glyphicon glyphicon-print"></span>
        <span class="hidden-xs hidden-sm" translate="sternenschwimmenApp.participant.action.print.certificate"></span>
    </a>
</div>
