<div ng-cloak>
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <span class="sternenschwimmen img-responsive img-rounded"></span>
        </div>
        <div class="col-md-12">
            <h1 translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-switch="vm.isAuthenticated()">
            <div class="col-md-4" ng-switch-when="true">
                <div class="panel panel-default">
                    <div class="sw panel-heading">Teilnehmer</div>
                    <div class="sw panel-body">
                        {{vm.participantCount}}
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-switch-when="true">
                <div class="panel panel-default">
                    <div class="sw panel-heading">Geschwommene Bahnen</div>
                    <div class="sw panel-body">
                        {{vm.laneCount}}
                    </div>
                </div>
            </div>
            <div class="col-md-4" ng-switch-when="true">
                <div class="panel panel-default">
                    <div class="sw panel-heading">Geschwommene Meter</div>
                    <div class="sw panel-body">
                        {{vm.meterCount}}<small>m</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" ng-switch="vm.isAuthenticated()">
            <div class="col-md-4" ng-switch-when="true">
                <div class="panel panel-default">
                    <div class="sw panel-heading">Einnahmen</div>
                    <div class="sw panel-body">
                        {{vm.moneyAmount}}<small>€</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
